/target/classes/web.xml
/target/DemoApp/WEB-INF/classes/com/pranav/controller/UserController.class
/target/DemoApp/WEB-INF/classes/com/pranav/model/User.class
/target/DemoApp/WEB-INF/classes/web.xml
/target/DemoApp/WEB-INF/lib/commons-logging-1.2.jar
/target/DemoApp/WEB-INF/lib/javax.servlet.jsp-api-2.3.1.jar
/target/DemoApp/WEB-INF/lib/javax.servlet-api-3.0.1.jar
/target/DemoApp/WEB-INF/lib/junit-3.8.1.jar
/target/DemoApp/WEB-INF/lib/spring-aop-4.3.6.RELEASE.jar
/target/DemoApp/WEB-INF/lib/spring-beans-4.3.6.RELEASE.jar
/target/DemoApp/WEB-INF/lib/spring-context-4.3.6.RELEASE.jar
/target/DemoApp/WEB-INF/lib/spring-core-4.3.6.RELEASE.jar
/target/DemoApp/WEB-INF/lib/spring-expression-4.3.6.RELEASE.jar
/target/DemoApp/WEB-INF/lib/spring-web-4.3.6.RELEASE.jar
/target/DemoApp/WEB-INF/lib/spring-webmvc-4.3.6.RELEASE.jar
/target/DemoApp/WEB-INF/views/display.jsp
/target/DemoApp/WEB-INF/views/userForm.jsp
/target/DemoApp/WEB-INF/dispatcher-servlet.xml
/target/DemoApp/WEB-INF/rootAppContext.xml
/target/DemoApp/WEB-INF/web.xml
/target/DemoApp/index.jsp
/target/maven-archiver/pom.properties
/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/DemoApp.war
